body{
    font-family: fantasy;
    width: 300px;
    min-height: 500px;
    margin: auto;
    text-align: center;
}
.popup-top{
    widows: 300px;
    height: 50px;
    background-color: aquamarine;
}
div {
    font-size: 20px;
}